:root{

  /*for navbar */
    --navbar-height: 13vh;


    /* --------- */

     /* for entry */
    --primary-color: #f39c12; /* Solar-Orange/Gelb */
    --secondary-color: #2c3e50;
    --text-light: #ffffff;
    --glass-bg: rgba(255, 255, 255, 0.1);


    /* ------- */
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll; /* Erzwingt die vertikale Scrollleiste */
  scrollbar-gutter: stable; /* Reserviert den Platz für die Leiste (moderner Ansatz) */
}




